!
! wlanac configuration saved from vty
!   2004/04/22 16:14:47
!
hostname ocamar
password ocamar
interface eth0 ipaddr 10.10.10.10 netmask 255.255.0.0
interface eth1 ipaddr 192.168.0.1 netmask 255.255.0.0
route add default gw 192.168.1.1 dev eth1
!
line vty
 exec-timeout 16 0
!
configure serial
	serial user 54821512eba4d422b06553b7e0b55e
	serial airogate 1D7000000133443888
!
configure gateway_start
	weblogon enable 
	snmp enable
	traffic_control disable 
	pppoe disable 
	outdev_snat enable 
	monitor disable 
	arp_proxy disable 
	dhcpc disable 
	anyip disable 
	mac_vip disable 
	l2tp disable 
	pptpserver disable 
	vlan disable 
	adsl disable 
	logmaintain disable 
	multicast disable 
	radproxy disable 
!
configure gateway_monitor
	monitor_ip add 2.2.2.2
	monitor_mac add 11:22:33:44:55:66
	monitor_name add sina
	save local enable
	save file reserve_days 2
!
configure pppoe
	pppoe add dev eth0 acname Ocamar
	pppoe server_addr 10.98.1.1
	echo_request_interval 5
	auth method chap
!
configure l2tp
	l2tp l2tp_client_address 192.168.0.1
	l2tp l2tp_client_port 58481
	l2tp lac_server_address 127.0.0.1
	l2tp lac_server_port 5848
!
configure pptp
	auth method mschap
	support_mppe no
!
configure dhcp
	dhcp_support_rfc_3011 enable 
	dhcp is_mac_ip
	dhcp serv_ipaddr add 192.168.200.3
	dhcp own_pool range_from 10.98.2.1 range_to 10.98.2.254
	dhcp conf add subnet 10.10.0.0 netmask 255.255.0.0 range_from 10.10.200.1 range_to 10.10.200.254 lease_time 800000 max_lease_time 1600000 route 10.10.10.10 wins 4.4.4.4
	dhcp mac_list mac 00:60:b3:6a:38:7a net 10.97.0.0
!
configure traffic_control
	protocol prioity disable 
        qos add dev eth1 bandwidth 10000000 bound
	qos queue1 bandwidth 1000
	qos queue2 bandwidth 2000
	qos queue3 bandwidth 3000
	qos queue4 bandwidth 4000
	qos queue5 bandwidth 5000
	qos queue6 bandwidth 6000
	qos queue7 bandwidth 7000
	qos queue8 bandwidth 8000
!
configure acl
	acl max user 200
!
configure advance_route
!
configure web_logon
	portal server addr 10.10.10.10 
	ip_priority disable
	web first_page disable 
	refresh enable
	client mode activex disable 
	web first_page url DEFAULT
	auth method chap
	user_service port 0
	user_service url 192.168.0.1 
!
configure rad_cli
	radius client_ipaddr 127.0.0.1
	radius server auth_ipaddr 127.0.0.1 auth_port 1812 acct_ipaddr 127.0.0.1 acct_port 1813 secret test
	radius billing_addr 0.0.0.0
	radius pre_port 15002
	radius real_port 15001
	radius passwd_retry max_period 10
	radius passwd_retry max_times 0
	radius passwd_retry unlock_time 10
!
configure snmp
	snmp version 2
	snmp timeout 5
	snmp retry_times 3
	snmp read_community public
	snmp set_community private
!
configure account
	auto_logout_time 15
	auto_stop_check_interval 120 
	account enable 
!
configure forwarding
	open_garden up 216.239.33.101 32 
	open_garden up 202.107.226.164 32 
	open_garden up 3.3.3.3 32 
	open_garden up 3.3.3.10 32 
	dns up 202.101.172.35
	internal_io dev up eth0
	permit_access_simultaneity 0
	gateway out_dev up  eth1
!
configure adsl
	username guest
	passwd guest
	dev eth1
!
configure client
!
configure ap_manage
        default_community private
        ap database ip 127.0.0.1
        ap database username root
        ap database passwd NULL
        ap scan interval 120
	ap scan supported_device add device_oid SNMPv2-SMI::enterprises.937.1.26.2.3 device_model AK2400-G100
	ap scan supported_device add device_oid SNMPv2-SMI::enterprises.1567.100.1.1 device_model B104
!
configure firewall
        prohibit ping disable
        prohibit system_port disable
        prohibit application_port disable
        prohibit all_port disable
        prohibit syn_attack disable
	prohibit web_port_attack disable
!
configure backup
	backup peer_addr interface eth0 main_host 4.4.4.4 backup_host 4.4.4.3
	backup timed 00:00
!

